/* color pallete 

#059033
#e3e7d3
#bdc2bf
#25291c
#2d5a26

*/

* {
    box-sizing: border-box;
}
/* styling for the main home page */
body {
    margin: 0 auto;
    background-color: #e3e7d3;
    font-family: Sarala;
}

ul {
    padding: 0;
    margin: 0 0 0 250px;
    list-style: none;
}

nav {
    width: 100%;
    overflow: auto;
    margin-left: 20px;
}

li {
    float: left;
}

li a {
    width: 100px;
    display: block;
    padding: 20px 15px;
    text-decoration: none;
    color: black;
    text-align: center;
}

.logo img {
    position: absolute;
    margin-top: 5px;
    margin-left: 20px;

}
/* 

IRRELEVANT CODE

REMEMBER TO DELETE THIS LATER 

.navbar {
    display: inline-block;
    margin: 25px 25px;
    margin-left: 100px;
}

.navbar a {
    margin-right: 50px;
    color: black;
}

.navbar a:hover {
    color: #059033;
}
*/

.main-abbr {
    color: #2d5a26;
   text-align: right;
   margin-right: 50px;
   font-size: 72px;
   margin-top: 0px;
}   

.mission-statement {
    text-align: center;
    font-size: 48px;
    margin-right: 500px;
}

.mission-subhead {
    text-align: left;
    font-size: 16px;
    margin-right: 500px;
    margin-left: 100px;
    line-height: 2;
}


.login-container {
    text-align: center;
    align-items: center;
}

#login-button {
    background-color: #2d5a26;
    color: white;
}

#organization-button {
    margin-left: 25px;
    background: #e3e7d3;
}

#login-button {
    width: 20%;
    height: 45px;
    background: #2d5a26;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: white;
    font-weight: 600;
}

/* styling for the login page */ 

.login-body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(images/eagle-landing.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(2px);
}

.login-box {
    width: 420px;
    background-color: #e3e7d3;
    color: black;
    border-radius: 10px;
    padding: 30px 40px;
    border: 2px solid rgba(255, 255, 255, .2);
}

.login-box h1 {
    font-size: 36px;
    text-align: center;
    color: black;
}

.login-box .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    
    margin: 30px 0px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: black;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: black;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.login-box .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember-forgot label input {
    accent-color: #fff;
    margin-right: 3px;
}

.remember-forgot a {
    color: black;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.login-box .submit-btn {
    width: 100%;
    height: 45px;
    background: #2d5a26;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color:  white;
    font-weight: 600;
}

.login-box .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a {
    color: #2d5a26;
    text-decoration: none;
    font-weight: 600;

}

.register-link p a:hover {
    text-decoration: underline;
}

/*style for the userHome*/

.calendar{
width: 320px;
border: 1px solid black;
border-radius:5px;
padding: 10px;
box-shadow:0 0 5px black;
}

.calHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.weekdays{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin-bottom: 10px;
}

.weekdays div{
    text-transform: uppercase;
    padding: 5px;
    font-weight: bold;
}

.days{
    display: grid;
    grid-template-columns: repeat(7,1fr);

}

.days div{
    border: 1px solid #ccc;
    padding: 5px;
}

.days div.today{
    background-color: #f2f2f2;
}

.days div.selected {
    background-color: #3498db;
    color: #fff;
}




/*for the calendar*/
.calendarBody {
    display: flex;
    margin-top: 50px;
    justify-content: center;
    background-color: #FFFCFF;
  }
  button {
    width: 75px;
    cursor: pointer;
    box-shadow: 0px 0px 2px gray;
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
  }
  
  #header {
    padding: 10px;
    color: #2d5a26;
    font-size: 50px;
    font-family: "Times New Roman",
                    Times, serif;
    font-style:italic;
    display: flex;
    justify-content: space-between;
  }
  #header button {
    background-color:#92a1d1;
  }
  #container {
    width: 770px;
  }
  #weekdays {
    width: 100%;
    display: flex;
    color: #247BA0;
  }
  #weekdays div {
    width: 100px;
    padding: 10px;
  }
  #calendar {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  }
  .day {
    width: 100px;
    padding: 10px;
    height: 100px;
    cursor: pointer;
    box-sizing: border-box;
    background-color: white;
    margin: 5px;
    box-shadow: 0px 0px 3px #CBD4C2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .day:hover {
    background-color: #e8faed;
  }
  
  .day + #currentDay {
    background-color:#e8f4fa;
  }
  .event {
    font-size: 10px;
    padding: 3px;
    background-color: #58bae4;
    color: white;
    border-radius: 5px;
    max-height: 55px;
    overflow: hidden;
  }
  .padding {
    cursor: default !important;
    background-color: #FFFCFF !important;
    box-shadow: none !important;
  }
  #newEventModal, #deleteEventModal {
    display: none;
    z-index: 20;
    padding: 25px;
    background-color: #e8f4fa;
    box-shadow: 0px 0px 3px black;
    border-radius: 5px;
    width: 350px;
    top: 100px;
    left: calc(50% - 175px);
    position: absolute;
    font-family: sans-serif;
  }
  #eventTitleInput {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 25px;
    border-radius: 3px;
    outline: none;
    border: none;
    box-shadow: 0px 0px 3px gray;
  }
  #eventTitleInput.error {
    border: 2px solid red;
  }
  #cancelButton, #deleteButton {
    background-color: #d36c6c;
  }
  #saveButton, #closeButton {
    background-color: #92a1d1;
  }
  #eventText {
    font-size: 14px;
  }
  #modalBackDrop {
    display: none;
    top: 0px;
    left: 0px;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: rgba(0,0,0,0.8);
  }

  