body {
    margin: 0 auto;
    background-color: #e3e7d3;
}

.navbar {
    display: inline-block;
    margin: 25px 25px;
    margin-left: 100px;
}

.navbar a {
    margin-right: 50px;
    color: black;
}

.navbar a:hover {
    color: #059033;
}

.search-form {
    display: inline-block;
    position: relative;
    text-align: right;
    margin-left: 700px;
  }

  .search-input {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 200px;
  }

  .search-button {
    background-color: #059033;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    cursor: pointer;
  }

  .search-button:hover {
    background-color: #0056b3;
  }

.main-abbr {
    color: #2d5a26;
   text-align: right;
   margin-right: 50px;
   font-size: 72px;
   margin-top: 0px;
}

.mission-statement {
    text-align: center;
    font-size: 48px;
    margin-right: 500px;
}

.mission-subhead {
    text-align: left;
    font-size: 16px;
    margin-right: 500px;
    margin-left: 100px;
    line-height: 2;
}